<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletPrestamo</servlet-name>
        <servlet-class>servlets.ServletPrestamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrincipal</servlet-name>
        <servlet-class>servlets.ServletPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>servlets.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEjemplar</servlet-name>
        <servlet-class>servlets.ServletEjemplar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLibro</servlet-name>
        <servlet-class>servlets.ServletLibro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPrestamo</servlet-name>
        <url-pattern>/ServletPrestamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrincipal</servlet-name>
        <url-pattern>/ServletPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEjemplar</servlet-name>
        <url-pattern>/ServletEjemplar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLibro</servlet-name>
        <url-pattern>/ServletLibro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
